* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: #333;
    background: linear-gradient(to right, rgb(7, 6, 6), rgb(41, 1, 1));
    background-size: 90px 104px;
}

/* Banner styling */
.banner {
        width: 100%;
        height: 50px;
        text-align: center;
        font-family: cursive;
        background: linear-gradient(to right, gold, silver); /* Gradient background */
        background-clip: text; /* Standard property for clipping to text (WebKit only) */
        -webkit-background-clip: text; /* WebKit-specific property */
        -webkit-text-fill-color: transparent;  
}
.banner-container {
    position: relative; 
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, blue, violet);
    z-index: -1;
}

.banner2 {
    width: 100%;
    height: 28px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    background: repeating-linear-gradient(to right, grey, grey 0.5px, silver 1px, grey 0.5px);
}

/* Main content styling */
.main-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 10px;
}

/* Gallery styling */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover img { 
    transform: scale(1.1); 
}

a {
    text-decoration: none;
}
.gallery-item.clicked img {
    transform: scale(1.5); /* Adjust scale as needed */
    cursor: zoom-out; /* Change cursor on zoom */ 
}